.form__container_wrapper-form-item {
  display: flex;
  flex-direction: column;
}

.form-control--invalid .error_text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #eb5757;
  /* padding-top: 8px;
  margin-left: 264px;  */
  /*forma ekle */
  /* width: 350px;
  text-align: left; */
}

select {
  width: 416px;
  height: 44px;
  background: #ffffff;
  /* border: 1px solid #e0e0e0; */
  box-sizing: border-box;
  border-radius: 6px;
  padding-left: 12px;

  /* background: url(../../../assets/icons/menu-down.svg) no-repeat right; */
  -webkit-appearance: none;
  background-position-x: 380px;
  outline: none;
  cursor: pointer;
}
input {
  width: 245px;
  height: 50px;
  background: #1F2B6C;
  border: none;
  /* border: 1px solid #bfd2f8; */
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fcfefe;
  padding-left: 20px;
  outline: none;
  cursor: pointer;
}
 ::placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fcfefe;
}
input:nth-child(1) {
  border-bottom: 1px solid #bfd2f8;
}
input:hover {
  background-color: #bfd2f8;
  color: #1F2B6C;
}
input:hover::placeholder {
  color: #1F2B6C;
}

@media screen and (max-width: 600px) {
  .form-control--invalid p {
    margin-left: 0;
  }
  input {
    width: 343px;
  }
}

/* .form-control--invalid input {
  border: 1px solid #eb5757;
} */

.form__container_wrapper-form-item ::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
}

.place-holder {
  position: absolute;
  top: 8px;
  left: 12px;
  font-size: 9px;
  line-height: 11px;
  color: #a3a0b1;
  /* color: #EB5757; */
}
.place-holder-invalid {
  top: 8px;
  left: 12px;
  font-size: 9px;
  color: #eb5757;
}
textarea {
  height: 190px;
  width: 100%;
}
textarea::-webkit-input-placeholder {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #fcfefe;
}
