.doctors-wrapper {
  height: 846px;
  width: 1366px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.doctors-head {
  height: 66px;
  width: 197px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
}
@media screen and (max-width: 600px) {
  .doctors-wrapper {
    height: 587px;
    width: 375px;
    justify-content: flex-start;
    margin-top:48px;
  }
  .doctors-head {
    width: 148px;
    height: 52px;
    margin-bottom: 24px;
  }
}
