* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content-title {
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  color: #1f2b6c;
}
.content-sub-title {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #159eec;
}
.content-desc {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #212124;
}
.display_none {
  display: none;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .display_none_mobile {
    display: none;
  }
  .display_none {
    display: block;
  }
  .width_375 {
    width: 375px;
  }
  .content-title {
    font-size: 24px;
    line-height: 28px;
  }
  .content-sub-title {
    font-size: 14px;
    line-height: 16px;
  }
}
